 <section id="tabs">
	<div>
		<!--<p style="font-size: 25px;">Categories</p>-->
		<div class="row">
			<div class="col-xl-12">
				<nav style="background: darkslategray; width: 100%;">
          <div class="col-sm-8" style="height: 63px">
              <div style="height:10px;width: 10px;">
                <img height="50px" style="margin-top: 10px;" src="./../../assets/icon-glasses-white.png">
              </div>
              <div class="input-group py-2 px-3" style="margin-left: 54%">
              <input type="text" class="form-control round-input" placeholder="Search" (keypress)="keyDown($event,SearchKey)" #SearchKey>
              <div class="input-group-append">
                 <button class="btn btn-success round-input" type="button" (click)="searchBatch(SearchKey)">  <i class="fa fa-search" aria-hidden="true"></i> </button>
                 <!--<a class="btn-outline-primary" (click)="searchBatch(SearchKey)"><img style="width: 40px; height: 40px;" src="../../assets/Gnome_maps_icon.svg.png"></a>-->
                 <div>
                 <button class="btn btn-primary btn-block" [routerLink]="['/view']" type="button"><i class="fa fa-home" aria-hidden="true"></i> Home </button>
                </div>
              </div>
              </div>
          </div>
        </nav>
      </div>
    </div>
  </div>

<div class="row">

  <div class="col-sm-4">

  <div class="container">
	<div class="row">
		<div class="left">
        <ul>
            <a [routerLink]="['/view']" >
                <li class="item-menu">
                    <span class="fa fa-home"></span>
                    <span class="menu">Home</span>
                </li>
            </a>
            <a (click)="change(1)">
                <li class="item-menu">
                    <span class="fa fa-pencil"></span>
                    <span class="menu">Editor</span>
                </li>
            </a>
            <a (click)="change(2)">
                <li class="item-menu">
                    <span class="fa fa-book"></span>
                    <span class="menu">Summarize Your Article</span>
                </li>
            </a>

            <a (click)="change(3)">
                <li class="item-menu">
                    <span class="fa fa-search-plus"></span>
                    <span class="menu">Scan Your Articles</span>
                </li>
            </a>
            <a (click)="change(4)">
                <li class="item-menu">
                    <span class="fa fa-search-plus"></span>
                    <span class="menu">Find Similar Articles</span>
                </li>
            </a>

            <a (click)="change(5)">
                <li class="item-menu">
                    <span class="fa fa-database"></span>
                    <span class="menu">Your Articles</span>
                </li>
            </a>

            <a (click)="change(7)">
                <li class="item-menu">
                    <span class="fa fa-eye"></span>
                    <span class="menu">Review</span>
                </li>
            </a>

            <a (click)="change(6)">
                <li class="item-menu">
                    <span class="fa fa-credit-card"></span>
                    <span class="menu">Payment</span>
                </li>
            </a>



        </ul>
    </div> <!-- end left -->
    </div>
	</div>

  </div>

<div class="container-fluid">


  <div class="edit col-md-12" *ngIf="step === 1 ">

   <div class="row">
    <div class="col-md-12" style="height: 87px;">
      <div class="jumbotron welcome p-1" style="margin-left: 57px;">
    <span><h3 class="font-weight-bold">Peregrine Article Editor <i class="fa fa-edit"></i></h3></span>
    <p class="lead text-justify">You can make anything by writing.</p>
    </div>
    </div>

     <div>
           <span>
             <button class="wCount  btn btn-default">{{count}}</button>
             <button (click)="reset()" data-title="edit" data-toggle="modal" data-target="#edit"  class="save btn  btn-lg btn-primary"> Save</button>
             <button (click)="change(3)" class="flag btn btn-sm btn-success"><i class="fa fa-flag fa-1x"></i> Check Up</button>
           </span>
     </div>
    </div>
    <div class="row col-md-12">
      <div class="" style="margin-left: 57px;" (keyup)="wordCount()" >
		   <app-ngx-editor  [config]="editorConfig" [spellcheck]="true" [(ngModel)]="htmlContent"></app-ngx-editor>
      </div>
    </div>

	</div>





   <div class="edit col-md-12" *ngIf="step === 2 ">

     <div class="row">
    <div class="col-md-12" style="height: 87px;">
    <div class="jumbotron welcome p-1" style="margin-left: 57px;">
    <span><h3 class="font-weight-bold">Summarize Your Article <i class="fa fa-edit"></i></h3></span>
    <p class="lead text-justify">You can Summarize any article you need.</p>
    </div>
    </div >

     <div>
           <span>

             <button style="width: 200px" (click)="summarize()" class="save btn-block {{loading}} btn-lg btn-primary"> Summarize <i class="fa fa-search-plus"></i></button>

           </span>
     </div>
    </div>
    <div class="row" style="margin-left: 77px;" >
	   <div class="row ">
		  <app-ngx-editor  [height]="400" [config]="editorConfig" [spellcheck]="true" [(ngModel)]="summarizeContent"></app-ngx-editor>
     </div>
     <div class="summ row col-md-12" style="max-width: 99.2%"  >
       <h5>Summarized Content </h5>
       <hr>
       <p>{{summarized}}</p>
    </div>
    </div>


   </div>

  <div class="edit col-md" *ngIf="step === 4 ">

    <div class="row">
    <div class="col-md-12" style="height: 87px;">
    <div class="jumbotron welcome p-1" style="margin-left: 57px;">
    <span><h3 class="font-weight-bold">Find Similar Articles <i class="fa fa-edit"></i></h3></span>
    <p class="lead text-justify">You can find similar articles like you wrote.</p>
    </div>
    </div >

     <div>
           <span>

             <button style="width: 200px" (click)="serchSimilarArticles()" class="save btn  {{loading}} btn-block btn-primary"> Find <i class="fa fa-search"></i></button>

           </span>
     </div>

    <div class="row" style="margin-left: 77px; !important;" >
		 <div class="row col-md-12">
      <app-ngx-editor [minWidth]="1500"  [height]="400" [config]="editorConfig" [spellcheck]="true" [(ngModel)]="similarContent"></app-ngx-editor>
     </div>
     <div class="summ row col-md-12" style="max-width: 97%; min-height: 500px; max-height: 1500px; overflow: auto;margin-left: 0px;"  >
       <h5>Similar Articles </h5>
       <hr>
       <br>
       <div class="container" *ngFor="let article of similarArticles ">

         <span class="row">
          <i class="fa fa-pencil-square-o"></i>  <h5>{{article.heading}}</h5>
         </span>
         <span class="row">
            <p>{{article.content}}</p>
         </span>
           <span class="row">
            <a href="article.link">{{article.link}}</a>
         </span>
         <hr>
       </div>
    </div>
    </div>


   </div>
  </div>



   <div class="edit col-md" *ngIf="step === 5 ">

     <div class="col-md-12" style="height: 87px;">
      <div class="jumbotron welcome p-1" style="margin-left: 57px;">
    <span><h3 class="font-weight-bold">Your Articles <i class="fa fa-database"></i></h3></span>
    <p class="lead text-justify">We are keeping your articles safe.</p>
    </div>
    </div>
    <hr>
     <div class="panel-body col-md-11" style="margin-left: 57px;height: 1000px;">

            <div class="panel-body">
              <!--<h1 class="text-center" *ngIf="tmpempty">Sorry, You don't have any previously created templates. </h1>-->
              <!--<h3 class="text-center" *ngIf="tmpempty">Try creating a new template. </h3>-->
            </div>
            <div class="panel-body">

              <div class="row mt-4">
                <div class=" col-sm-6 col-md-6  col-lg-4 col-xl-4" *ngFor="let template of templates; let i = index">
                  <div class="card my-3">
                      <div class="card-header bg-light  text-center artifact-card-header">
                    <div>
                    </div>
                    <img class="artifact-img" src="../../assets/article.png" alt="artifact" width="90px">
                     </div>
                    <div class="card-body ">
                       <span class="card-title">
                          <h3 class=" text-center">{{template.name}}</h3>
                        </span>
                                    <div class="includes">Content: {{template.content}} </div>

                    </div>
                    <div class="card-footer">

                      <button  (click)="use(template.content)" class="btn btn-success btn-sm">
                        <i  class="fa fa-list"></i> Use</button>

                      <button data-toggle="modal" (click)="setDeleteId(template._id)" data-target="#delete"  class="btn btn-danger btn-sm pull-right" >
                        <i class="fa fa-trash" ></i> Delete</button>
                      </div>
                  </div>
                </div>

              </div>

            </div>

            <div class="panel-footer mt-4">
              <div class="row ">
                <div class="col mt-3">

                </div>
              </div>
            </div>

                  <!--<div class="modal-header">-->
                    <!--<h4 class="modal-title custom_align">Delete Template</h4>-->
                    <!--<button type="button" class="close" (click)="modalRef.hide()" aria-hidden="true">-->
                      <!--<span class="fa fa-close fa-1x"></span>-->
                    <!--</button>-->
                  <!--</div>-->
                  <!--<div *ngIf="!popupStatus">-->
                    <!--<div class="modal-body">-->

                      <!--<div class="alert alert-danger">-->
                        <!--<span class="fa fa-warning-sign"></span>Are you sure you want to delete this template?</div>-->

                    <!--</div>-->
                    <!--<div class="modal-footer ">-->
                      <!--<button type="button" (click)="deteleTemplate()" class="btn btn-success">-->
                       <!-- Yes</button>-->
                      <!--<button type="button" class="btn btn-default close" class="btn btn-warning" (click)="modalRef.hide()"> No</button>-->
                    <!--</div>-->
                  <!--</div>-->

                  <!--</div> &ndash;&gt;-->




        </div>

   </div>




  <div class="edit col-md-12" *ngIf="step === 3 ">

       <div class="row">
    <div class="col-md-12" style="height: 87px;">
    <div class="jumbotron welcome p-1" style="margin-left: 57px;">
    <span><h3 class="font-weight-bold">Scan Your Article Content <i class="fa fa-edit"></i></h3></span>
    <p class="lead text-justify">You can check your perfect article content with us.</p>
    </div>
    </div >
      <div>
           <span>

             <button style="width: 200px" class="save btn {{loading}} btn-block btn-primary" (click)="scan()"> Scan <i class="fa fa-search-plus"></i></button>

           </span>
     </div>
    <div class="row" style="margin-left: 77px;" >
		 <div class="row col-md-12">
      <app-ngx-editor  [height]="400" [config]="editorConfig" [spellcheck]="true" [(ngModel)]="scanContent"></app-ngx-editor>
     </div>
      <div class="summ row col-md-12" style="max-width: 97%; margin-left: 0px"  >
       <div class="row">
       <h5>Resutls  </h5>
       <hr>
       </div>
        <br>
        <ul>
          <div  style="margin-top: 50px" class="row" *ngFor="let vio of  scanResults;let i = index">

            <li>
              <span class="row" style="margin-left: 10px;">
                 <span style="color: red"><i class="fa fa-flag"></i></span> <h6 style="margin-left: 3px"> Content :</h6>  {{ vio.content}}
              </span>

              <span  class="row" style="margin-left: 10px;">
                <span style="color: darkslategrey"><i class="fa fa-arrow-circle-o-right"></i></span> <h6 style="margin-left: 3px"> Reason :</h6>  {{ vio.reason}}
              </span>

            </li>

         </div>
        </ul>

    </div>
    </div>


   </div>


   </div>





  <div class="edit col-md-12" *ngIf="step === 6 ">

    <div class="col-md-12" style="height: 87px;">
    <div class="jumbotron welcome p-1" style="margin-left: 57px;">
    <span><h3 class="font-weight-bold">Payment <i class="fa fa-credit-card"></i></h3></span>
    <p class="lead text-justify"></p>
    </div>
    </div>
    <hr>
    <div style="min-height: 500px;margin-left: 57px;">
      <h3>Payment method is under development !</h3>
    </div>

  </div>

  <div class="edit col-md-12" *ngIf="step === 7 ">

    <div class="col-md-12" style="height: 87px;">
    <div class="jumbotron welcome p-1" style="margin-left: 57px;">
    <span><h3 class="font-weight-bold">Review <i class="fa fa-envelope-square"></i></h3></span>
     <p class="lead text-justify">You can send you article to someone to review.</p>
    </div>
    </div>
    <hr>
    <div style="min-height: 500px;margin-left: 57px;">

       <ul class="nav nav-tabs">
        <li class="nav-link" [ngClass]="{'active' : tab === true}" (click)="tab = true " ><a>Inbox</a></li>
        <li class="nav-link" [ngClass]="{'active' : tab === false}" (click)="tab = false" ><a>Sent</a> </li>
       </ul>
       <br>
       <div *ngIf="tab === true">

          <hr>
          <ul class="mail-list">
                       <li class="row" >
                           <a href="">
                             <div class="col-md-8 pull-left">
                               <span class="mail-sender">You Tube</span>
                               <span class="mail-subject">New subscribers!</span>
                               <span class="mail-message-preview">You have ten more subscriptions click her...</span>
                             </div>
                             <div class="col-md-4 pull-right">
                               <button class="btn btn-sm btn-success"></button>
                             </div>
                           </a>
                       </li>
          </ul>

       </div>
       <div *ngIf="tab === false">

       </div>


    </div>

  </div>


    </div>
   </div>



 </section>



















 // modal
	<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
			<div class="modal-dialog">
				<!-- <form [formGroup]="updateUserForm" (ngSubmit)="updateData(user)"> -->
					<div class="modal-content">

						<div class="modal-header">
							<h4 class="modal-title custom_align" id="Heading">Save article</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								<span class="fa fa-close pointer fa-1x"></span>
							</button>
						</div>
					<div class="modal-body">
            <div *ngIf="!popState">
            <input [(ngModel)]="name" type='text' class="form-control " name="name" placeholder="Enter article name">
						<div class="alert alert-success">

					 <span class="fa fa-info-sign"></span> Are you sure you want to save this article?</div>
            </div>
            <div *ngIf="popState">

              			<div class="alert alert-success">
                    {{message}}
                    </div>
            </div>

					</div>

					<div class="modal-footer ">
						   <button type="button" [disabled]="popState" (click)="save()" class="btn {{loading}} btn-success btn-group-sm">
							<span class="fa fa-ok-sign"></span>Yes</button>

            		   <button type="button" data-dismiss="modal" aria-hidden="true" (click)="reset()" class="btn {{loading}} btn-warning btn-group-sm">
							<span class="fa fa-ok-sign"></span>Close</button>

					</div>
				</div>
      </div>
  </div>



 	<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
			<div class="modal-dialog">
				<!-- <form [formGroup]="updateUserForm" (ngSubmit)="updateData(user)"> -->
					<div class="modal-content">

						<div class="modal-header">
							<h4 class="modal-title custom_align" id="Heading">Delete Your Article</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								<span class="fa fa-close pointer fa-1x"></span>
							</button>
						</div>
					<div class="modal-body">
            <div *ngIf="!popState">
						<div class="alert alert-success">
					  <span class="fa fa-info-sign"></span> Are you sure you want to delete this article?</div>
            </div>
            <div *ngIf="popState">

              			<div class="alert alert-success">
                    {{message}}
                    </div>
            </div>

					</div>

					<div class="modal-footer ">
						   <button type="button" [disabled]="popState" (click)="deleteArticles()" class="btn {{loading}} btn-success btn-group-sm">
							<span class="fa fa-ok-sign"></span>Yes</button>

            		   <button type="button" data-dismiss="modal" aria-hidden="true" (click)="reset()" class="btn {{loading}} btn-warning btn-group-sm">
							<span class="fa fa-ok-sign"></span>Close</button>

					</div>
				</div>
      </div>
  </div>
